@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap'); 


/** Utilities */
.border-radius-15 {
    border-radius: 15px;
}

.border-radius-25 {
    border-radius: 25px;
}

.border-radius-35 {
    border-radius: 35px;
}

.border-radius-45 {
    border-radius: 45px;
}

.border-radius-50 {
    border-radius: 50px;
} 

a, Link {
    color: inherit; 
    /* text-decoration: none; */
} 

.glass-effect {
    position: relative;
    background: rgba(255, 255, 255, 0.1);
    /* semi-transparent background */
    backdrop-filter: blur(10px);
    /* blur effect on the background */
    border-radius: 10px;
    /* rounded corners */
    padding: 20px;
    color: #fff;
    /* white text for better contrast */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* subtle shadow for depth */
    overflow: hidden;
    /* ensures content doesn't overflow rounded corners */
}

.box-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.swal2-confirm-button, .swal2-cancel-button {
    border-radius: 35px !important; 
    /* background-color: transparent; */
}


/* .swal2-confirm-button {
    border-color: red;
}

.swal2-cancel-button {
    border-color: black;
} */

/* .form-control, .form-select {  }  */

.form-floating .form-control, .form-floating .form-select { 
    border-radius: 15px;
    padding-left: 1rem; 
    padding-right: 1rem; 
}

.form-floating label { 
    margin-left: 1rem; 
    margin-right: 1rem; 
} 

.btn:hover { transition: 1s ease-in-out;}

.search {
    display: flex;
    /* justify-content: end; */
}

.search-container {
    display: flex;
    align-items: center;
    gap: 7px;
    width: 100%;
    background-color: white;
    border-radius: 35px;
    padding-inline: 10px;
    padding-block: 5px;
}

.search-container input {
    width: 100%;
    border: none;
    /* border-radius: 35px;  */
    padding-inline: 10px;
    padding-block: 5px;
    font-size: 0.75rem;
}

.search-container input:focus {
    border: none;
    outline: none;
} 

.cursor-pointer { cursor: pointer; } 

.transition-1 { transition: all 0.5s ease-in-out; } 

/** Nav Scroll */
.nav-scroller {
    position: relative;
    z-index: 2;
    /* height: 2.75rem; */
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    width: 77.5vw;
    margin: auto;
    gap: 3rem;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav .nav-item {
    /* background-color: darkgrey;  */
    height: 100%;
    padding-block: 0;
    padding-right: 0;
    border-radius: 35px;
}

.nav-scroller .nav .nav-item .title {
    font-weight: 700;
}

.nav-scroller .nav .nav-item span img {
    border-radius: 35px;
}
/** End Nav Scroll */
/** Custom ScrollBar */
/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 2.5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #77979f;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #035a82;
}

/** End Custom ScrollBar */

/* .month {
    display: grid; 
    grid-template-columns: repeat(7, 1fr); 
} 

.month span {
    padding-top: 0; 
    padding-bottom: 0; 
    margin-bottom: 0; 
} */ 

.years article, .months article, .dates article {
    border-radius: 35px; 
    padding: 1rem;
    background-color: #f2f2f2;
}

.years article:active, .months article:active, .dates article:active {
    background-color: #1f1a1a; 
    color: #f2f2f2;
}


/*-------*/
/** Main */
/*-------*/
body {
    min-width: 315px;
    font-family: "DM Sans", serif;
    font-optical-sizing: auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
} 

.header,
.footer {
    flex-grow: 0;
    flex-shrink: 0;
}

main {
    flex-grow: 1;
}

.header .main-nav ul {
    display: flex; 
    flex-direction: column; 
    gap: 1rem
}

.main-nav .nav-list li a {
    text-decoration: none;
} 

/*-------*/
/** Public */
/*-------*/
/* header nav .public-top-nav {
    display: flex; 
    flex-direction: column;
} */

.white-text{
color:  #ffff;
}
.transparent{
    opacity: 0.8;
}
.nav-bg{
/* background-color: #719299; */
background-color: #207dff;
}

.ready-text{
    color: black;
}
.brand-text{
    /* color: #719299;  */
}
.sub-light-bg{
    /* background-color: rgba(255, 255, 255, 0); */
    background-color: #F4F4F4;
}
.sub-dark-bg{
    /* background-color: #333333; */
    background-color:#c7c7c9;
}
.dynamic-bg {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: var(--bg-image);
    border-radius: 10px; /* Optional: Add rounded corners */
  }

.slide-in {
    opacity: 0;
    transform: translateY(100px);
    transition: transform 1s ease-out, opacity 0.6s ease-out;
    margin-bottom: 20px;
}

.slide-in.visible {
    opacity: 1;
    transform: translateX(0);
    /* Move to original position */
}


/*-------*/
/** Auth */
/*-------*/
main.auth {
    padding: 1rem; 
    margin: 3rem;
} 

main.auth .auth-side-quotes .slide-section {
    display: flex;
    flex-direction: column;
    min-height: 100%; 
    justify-content: space-between;
}

main.auth .auth-side-quotes .slide-section h2 {
    font-size:x-small;
} 

main.auth .auth-side-quotes .slide-section h2::after {
    content: "";
}

/*------------*/
/** Dashboard */
/*------------*/
main.dashboard .dashboard-meters .admin-meters {
    display: grid;
    grid-template-areas:
        "revenue appointments" 
        "doctors patients";
}

main.dashboard .dashboard-meters .admin-meters .revenue {
    grid-area: revenue
}

main.dashboard .dashboard-meters .admin-meters .appointments {
    grid-area: appointments
}

main.dashboard .dashboard-meters .admin-meters .doctors {
    grid-area: doctors
}

main.dashboard .dashboard-meters .admin-meters .patients {
    grid-area: patients
} 

main.dashboard .appointments {
    display: grid; 
    grid-template-areas: 
        "upcoming" 
        "latest";
}

main.dashboard .appointments .upcoming { grid-area: upcoming; } 

main.dashboard .appointments .latest { grid-area: latest; }

main.dashboard .appointments .upcoming .doctor {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center
}

main.dashboard .appointments .upcoming .doctor .info {
    
}

main.dashboard .appointments .upcoming .doctor .image {
    min-width: 120px;
    max-width: 150px;
}

main.dashboard .appointments .upcoming .doctor .image picture img {
    min-width: 120px;
    max-width: 150px;
}


/* ------------- */
/* MEDIA QUERIES */
/* ------------- */
@media screen and (orientation: landscape) and (min-width: 315px) and (max-width: 700px) {
    /*------------*/
    /** Dashboard */
    /*------------*/
    main.dashboard .dashboard-meters .admin-meters {
        display: grid;
        grid-template-areas:
            "revenue appointments" 
            "doctors patients";
    }
}

@media screen and (min-width: 768px) {
    .header .main-nav ul {
        flex-direction: row;
    }
    
    .header .main-nav ul li {} 

    /*------------*/
    /** Dashboard */
    /*------------*/
    main.dashboard .appointments {
        width: 100%;
        grid-template-areas: "latest upcoming"; 
        grid-template-columns: 2fr 1fr;
    } 

    main.dashboard .appointments .upcoming .doctor {
        display: flex;
        flex-direction: column; 
        align-items: start;
    } 

    main.dashboard .appointments .upcoming .doctor .image picture img {
        min-width: 175px;
        max-width: 200px;
    }
}

@media screen and (min-width: 900px) {
    /*------------*/
    /** Dashboard */
    /*------------*/
    main.dashboard .dashboard-meters .admin-meters {
        display: grid;
        grid-template-areas:
            "revenue appointments doctors patients";
    } 

    main.dashboard .appointments .upcoming .doctor .image picture img {
        min-width: 200px;
        max-width: 220px;
    }
}
